NODE_ENV=development
PORT=3000
DATABASE_URL=mysql://genecode:genecode@db:3306/genecode
REDIS_URL=redis://redis:6379
JWT_ACCESS_SECRET=dev_access_secret_trocar_em_producao_min32
JWT_REFRESH_SECRET=dev_refresh_secret_trocar_em_producao_min32
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL_DAYS=30
WEB_ORIGIN=http://localhost:4200
BCRYPT_ROUNDS=12
ENABLE_SWAGGER=true
